<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content=" IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale =1.0">
    <title>Result Management| View Record</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            border-style: solid;
            bottom: 0;
                position:fixed;
            background-color: rgba(213,232,212,0.5);
            color: black;
            border-style: solid;
            border-color: rgb(213,232,212);
            width: 100%;
            text-align: center;
            height: 30px;
            font-size: 18px;
        }
        .navbar{
            margin-top:2px;
            height:60px;
            display:flex;
            background-color: rgba(213,232,212,0.5);
            text-align: center;
            color: black;
            border-style: solid;
            border-color: rgb(213,232,212);
            font-size: 28px;
            position:relative;
        }
        .container{
            margin-top: 120px;
            min-height:100%;
            justify-content: center;
        }
        .logoutbutton{
            position:relative; 
            float:right;
        }
        body{
            min-height:80vh;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="col-sm-12"><span class="mx-auto" style="text-align:center;">Student Management System</span>
            <div class="logoutbutton"><a href="/teacher/logout" class="btn btn-danger btn-small btn-nav">Logout</a></div>
        <ul class="nav navbar-nav navbar-right">
            
            <!-- <li></li>
        </ul></div> -->
        <!-- <a class="btn btn-danger" href="/student/logout" >Logout</a> -->
    </nav>
    <div class="container">
        <div class="addbutton"><a href="/teacher/addrecord"><button class="btn btn-secondary">Add Record</button></a></div>
        <div class="records">
            <table class="table">
                <thead>
                    <tr>
                        <th scope = "col">Roll no.</th>
                        <th scope = "col">Name</th>
                        <th scope = "col">DOB</th>
                        <th scope = "col">Score</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% slist.forEach((e)=>{ %>
                        <tr>
                            <th scope="row"><%=e.rollnumber%></th>
                            <td><%=e.sname%></td>
                            <td><%=e.dob%></td>
                            <td><%=e.score%></td>
                            <td><div class="buttons">
                                <a href = "/teacher/updaterecord/<%=e.rollnumber%>"><button class="btn btn-secondary">Update</button></a>
                                <a href = "/teacher/deleterecord/<%=e.rollnumber%>"><button class="btn btn-danger">Delete</button></a>
                            </div></td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
<footer>
    <span>&copy Copyrights Reserved</span>
</footer>
</html>